.status-green{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
}
.status-yellow{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
}
.status-red{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}
.status-gray{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
}
